@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap%27');


.about {
    height: calc(100vh - 175px);
    width: 100vw;
   
    background-image: linear-gradient(to top , #434343, #353535);
    border: 20px black;
    margin: 0px;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        height: 100vh;
    }

    @media only screen and (max-width: 765px)and (min-width: 601px) {
        height: 100;
    }

  


    .container {
        display: flex;

        font-size: 50px;
        margin: 0px;


        .content-left {

            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                text-align: center;
                padding: 10px 5px;
                flex-basis: 100%;
                height: calc(100vh);

            }

            @media only screen and (max-width: 765px)and (min-width: 601px) {
                text-align: center;
                padding: 10px 5px;
                flex-basis: 100%;
                height: calc(100%);
            }


            font-family: Hahmlet;
            font-size: 20px;
            flex-basis: 70%;
            padding: 40px 60px;
            background-color: white;
            color: black;
            height: calc(100vh - 252px);


            h2 {
                margin: 30px;
                margin-left: 0px;
                padding-top: 50px;
                font-size: 50px;
                color: #a574ff;
                opacity:1;
                // background-color: white;
                width: 48%;
                font-family: 'Permanent Marker';
                text-decoration: underline;

                @media only screen and (max-width: 600px) {
                    font-size: 40px;
                    margin: 10px;
                    padding-top: 30px;
                    margin-left: 80px;


                }

            }


            p {
                margin: 60px 0;
                word-spacing: 3px;
                line-height: 30px;
                font-family: Rubik;
                font-style: italic;
                font-weight: none;
                color:rgba(36,0,0,1);
              
            }





        }

        .container-right {
            background-image: linear-gradient(to top , #434343, #353535);
;
            color: black;
            // height: 100vh;

            font-family: Hahmlet;
            font-size: 20px;
            flex-basis: 30%;

            @media only screen and (max-width: 600px) {
                height: 50px;

                flex-basis: 00%;

            }

            @media only screen and (max-width: 765px)and (min-width: 601px) {}


            img {
                border-radius: 50%;

                width: 350px;
                height: 250px;
                position: absolute;
                z-index: 2;
                right: 35px;
                top: 250px;

                @media only screen and (max-width: 600px) {
                    position: absolute;
                    width: 250px;
                    height: 150px;
                    top: 675px;
                    right: 65px;

                }

                @media only screen and (max-width: 765px)and (min-width: 601px) {
                    position: absolute;
                    width: 300px;
                    height: 200px;
                    top: 15px;
                    right: 75px;
                }

                @media only screen and (max-width: 991px)and (min-width: 768px) {
                    position: absolute;
                    width: 300px;
                    height: 200px;
                    top: 135px;
                    right: 245px;
                }

                @media only screen and (max-width:1200px) and (min-width: 992px) {
                    position: absolute;
                    width: 350px;
                    height: 250px;
                    top: 735px;
                    left: 75px;

                }
            }
        }
    }
}