.contactpg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .contactcontainer {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to top, #434343, #353535);
    margin-bottom: 0px;

    @media only screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      height: calc(100%);
      margin-bottom: 0px;
    }
  }
  .contact-left {
    position: relative;
    z-index: 2;
    font-family: Hahmlet;
    flex-basis: 50%;
    margin-top: 50px;
    margin-left: auto;
    padding: 20px 40px;
    background-color: white;
    height: 100;
    width: 400px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      margin-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      padding: 20px 0px;
      background-color: white;
      height: 100%;
      width: 100vw;
      display: flex;
      flex-direction: column;
    }

    @media only screen and (max-width: 765px) and (min-width: 601px) {
      margin-top: 50px;
      margin-left: 50px;
      padding: 20px 20px;
      background-color: white;
      height: 100%;
      width: 500px;
    }

    @media only screen and (max-width: 991px) and (min-width: 768px) {
      margin-top: 50px;
      margin-left: 50px;
      padding: 20px 20px;
      background-color: white;
      height: 100%;
      width: 600px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 992px) {
      margin-top: 50px;
      margin-left: 200px;
      padding: 20px 20px;
      background-color: white;
      height: 100%;
      width: 600px;
    }
  }

  .contact-right {
    position: relative;
    z-index: 2;
    flex-basis: 50%;
    font-family: Hahmlet;
    margin-top: 00px;
    padding: 40px;
    color: white;
    background-color: #353535;
    // margin-left: 40px;

    @media only screen and (max-width: 600px) {
      height: 100%;
      padding: 0px;
      width: 100%;
      font-family: Hahmlet;
      margin-top: 10px;
      color: white;
      background-color: #353535;
      margin-left: 0px;
    }

    @media only screen and (max-width: 765px) and (min-width: 601px) {
      height: 100%;
      padding: 0px;
      width: 100%;
      font-family: Hahmlet;

      color: white;
      background-color: #353535;
    }

    @media only screen and (max-width: 991px) and (min-width: 768px) {
      height: 100%;
      padding: 0px;
      width: 100%;
      font-family: Hahmlet;

      color: white;
      background-color: #353535;
      margin-left: 0px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 992px) {
      margin-left: 0px;
      height: 100%;
      width: 100%;
    }
  }

  .crr {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    .dcicon {
      @media only screen and (max-width: 600px) {
        display: none;
      }

      @media only screen and (max-width: 765px) and (min-width: 601px) {
        display: none;
      }

      @media only screen and (max-width: 991px) and (min-width: 768px) {
        display: none;
      }

      @media only screen and (max-width: 1200px) and (min-width: 992px) {
      }
    }

    @media only screen and (max-width: 600px) {
      margin-top: 20px;
      padding: 0px 0px;
    }

    @media only screen and (max-width: 765px) and (min-width: 601px) {
      margin-left: -20px;
    }

    @media only screen and (max-width: 991px) and (min-width: 768px) {
      margin-left: 50px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 992px) {
      margin-left: 150px;
    }
  }
  .crl {
    @media only screen and (max-width: 600px) {
      padding: 0px 20px;
    }

    @media only screen and (max-width: 765px) and (min-width: 601px) {
    }

    @media only screen and (max-width: 991px) and (min-width: 768px) {
      margin-left: 80px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 992px) {
      margin-left: 150px;
    }
  }
}
